div.divbullet {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { font-size: 12px; }